.aos-initial {
  opacity: 0;
}

.aos-initial.slideUp {
  transform: translateY(50px);
}

.aos-initial.fadeIn {
  transform: none; 
}

.aos-animate {
  opacity: 1;
  transform: none;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}