.btn {
  padding: 15px 35px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-transform: uppercase;
}

.btn-primary {
  background-color: var(--color-accent);
  color: var(--color-light);
}

.btn-primary:hover {
  background-color: #ff3366; /* Un rojo un poco más claro */
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(255, 0, 51, 0.4);
}

.btn-secondary {
    background-color: transparent;
    color: var(--color-accent);
    border: 2px solid var(--color-accent);
}

.btn-secondary:hover {
    background-color: rgba(255, 0, 51, 0.1);
    transform: translateY(-1px);
}